body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #919F89;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}
.front-container{
  position: absolute;
  top: 40px;
  left:0;
  right: 0;
 }

#add-button{
    right: 69%;
    border: none;
    background-color: #517470;
}
 
.chat-top{
  background-color: #517470;
  min-height: 50px;
}
 
.profile-image{
  margin-top: 7px;
  height: 40px;
  width: 40px;
  color: black;
}

#userNameShow{
font-size: x-large;
padding: 8px;
padding-top: 16px;
}
.contacts{
  background-color: #ffffff;
  min-height: 600px;
}
 
.contact-table-scroll{
  overflow-y: scroll;
  height: 600px;
}
 
.message-area{
  background-color:  #e4e1de;
  min-height: 600px;
}
 
.message-table-scroll{
  overflow-y: scroll;
  height: 550px;
  display: flex;
  flex-direction: column-reverse;
}
 
.message-box{
  background-color: #517470;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.img-button {
  border-radius: 80%;
  background-color: #919F89;
  padding: 12px;
  border-color: #517470;
  border-style: solid;
}

.video-button {
  border-radius: 80%;
  background-color: #919F89;
  padding: 12px;
  border-color: #517470;
  border-style: solid;
}

.video-button > video{
  width: 0;
  height: 0;
}

.record-button {
  border-radius: 80%;
  border-style: solid;
  background-color: #919F89;
  padding: 12px;
  border-color: #517470;
}


input#send_button {
background-color: #919F89;
color: black;
padding: 12px;
font-size: 18px;
border-color: #517470;
width: 100%;
}

.start-record-button {
  outline: none;
  border: none;
}

.start-record-button:hover {
  background-color:rgba(235, 243, 243, 0.133);
}


#input-upload {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  font-size: inherit;
  color: #0c090d;
  padding: 0.75rem;
}

.custom-file-upload:hover {

  background-color: #e4e1de;
}

.add-button {
  position:absolute;
  top: 10px;
  right: 890px;;
  z-index: 1;
}

.modal-title{
  color:#0c090d;
}

.chat-footer {
display: flex;
justify-content: center;
align-items: center;
border-radius: 60px;
position: relative;
cursor: pointer;
}

.col-3{
right: 0%;
padding: 8px;
}

.chat-footer input {
display: block;
flex: 1;
width: 100%;
height: 50px;
border-radius: 60px;
margin: 5px;
padding: 10px;
outline: none;
font-size: 19px;
padding-left: 40px;
padding-right: 90px;
border: 2px solid #ccc;
color: #555;
resize: none;
}

.chat-footer .mic {
display: block;
width: 55px;
height: 55px;
margin-right: 20px;
}

.chat-footer .emo{
display: block;
width: 35px;
height: 35px;
position: absolute;
left: 10px;
top: 12px;
}

.openScreen{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  padding-bottom: 10%;

}

/* Chat containers */  
#container {  
  background-color: #919F89;  
  float:right; 
  width: 50%;  
  max-width: 50%; 
  height: 60%;  
  border-radius: 40px;  
  border-width: 10px;  
  padding-left: 15px; 
  border-color: #e4e1de;       
}

.bla{
  border-width: 3px;
  width: 10%; 
  color:grey;
}
 
/* Darker chat container */ 
.darker { 
  border-color: #ccc; 
  background-color: #ddd; 
} 
 
/* Clear floats */ 
.container::after { 
  content: ""; 
  clear: both; 
  display: table; 
}

.logoutButton{
  position:absolute;
  top: 10px;
  right: 5px;
  background-color: #517470;
  border:none;
}
